:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
@font-face {
    font-family: 'Sketchy';
    src: url(fonts/Sketchy-1jX4.ttf);
}  
#container {
    margin: auto;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border-style: dashed;
    border-color: black;
}

.grid-item {
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    background: #f0ffff;
}

.standard-color{
    background-color: black;
}

.toolbar{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
}

.flex-item{
    height: 3em;
    padding: 10px;
    margin-left: 1em;
    border-style: dashed;
    border-color: black;
    font-family: Sketchy;
    border-width: 1px;
    border-radius: 50px;
    transition: 0.3s ease;
}

.flex-item:hover{
    background-color: #7fffd4;
    box-shadow:2px 2px black;
    transform: scale(1.2);
}

#select{
    width: 3em;
}

#selectText:hover{
    box-shadow: none;
    transform: none;
}

#header{
    margin: auto;
    margin-bottom: 1em;
    width: 80vh;
    height: 40px;
    text-size-adjust: 10vh;
    text-align: center;
    border-style: dashed;
    border-color: black;
    font-family: Sketchy;
}

#selectText{
    border-color: aquamarine;
    height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

#gridLayout{
    height: 1em;
}

#gridLayout:hover{
    box-shadow: none;
    transform: none;
}

#sizeLabel{
    height: 18px;
    width: 18px;
    text-align: center;
    background-color: #f0f0f0;
}

#sizeLabel:hover{
    background-color: aquamarine;
    box-shadow:2px 2px black;
    transform: scale(1.2);
}